// Smaller font for longer names
.portrait-title h2 {
  font-size: 1.5rem;
}

// 块引用
blockquote {
  color: inherit;
  // border-left: 0.25rem solid var(--teal);
  border-left-color: mediumseagreen;
}

@media (min-width: 30em) {
  blockquote {
    // padding-left: unset;
    padding-right: unset;
  }
}

// spoiler
details p {
  border-left: unset;
}

// 表格元素横向纵向居中
.table th,
.table td {
  vertical-align: middle;
}

.table thead th {
  vertical-align: middle;
}

// 右侧目录
#TableOfContents {
  border-left: unset;
}

#TableOfContents a {
  margin-bottom: 8px;
}

#back_to_top {
  margin-bottom: 8px;
}

// 粗体文本
// Dark Style
.dark .article-style>p>strong,
.dark .article-style>ul strong,
.dark .article-style>ol strong,
.dark .article-style>blockquote>p>strong {
  // color: tomato;
  color: #dea584;
}

// // Light Style
// .article-style>p>strong,
// .article-style>ul strong,
// .article-style>ol strong,
// .article-style>blockquote>p>strong {
//   // color: crimson;
//   color: mediumslateblue;
// }

// 引述文本
.quote {
  font-size: 0.8rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 1rem;
}

// 毛主席诗词
.poetry {
  text-align: center;
}

.poetry>p {
  margin-bottom: 0;
}

// 全局字体
body {
  font-family: 'Noto Sans SC';
}
