/* About Me 组件样式 */
.prose h1:first-child {
  margin-top: 0;
}

.hx\:prose p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

/* 照片 */
.content :where(img):not(:where([class~=not-prose],[class~=not-prose] *))#author {
    margin-block: 0;
}

/* Bio */
h2#author {
    text-align: center;
    margin-bottom: 0;
}

h3#role {
    font-weight: normal;
    text-align: center;
    margin-top: calc(var(--hx-spacing)*4);
    margin-bottom: 0;
}

h3#institute {
    font-weight: normal;
    text-align: center;
    margin-top: 0;
}

/* 分割线 */
hr {
    color: var(--hx-color-gray-500);
    margin-top: calc(var(--hx-spacing)*6);
    margin-bottom: calc(var(--hx-spacing)*6);
}

/* 段落间距 */
.content :where(p, ul, ol):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: calc(var(--hx-spacing)*3);
}

.content :where(blockquote):not(:where([class~=not-prose],[class~=not-prose] *)) {
    margin-top: calc(var(--hx-spacing)*3);
    font-style: normal;
}
