:root {
    /* 页面宽度 - 也可以通过 hugo.yaml 中的 params.page.width 配置 */
    --hextra-max-page-width: 90rem; /* 默认值：80rem（普通），90rem（宽版），100%（全宽） */
    --hx-color-dark: #222;
}

.hx\:dark\:shadow-\[0_-12px_16px_\#111\]:where(.dark, .dark *) {
    --tw-shadow: 0 -12px 16px var(--tw-shadow-color, #222);
}

.hx\:dark\:hover\:bg-neutral-900:where(.dark,.dark *):hover {
    background-color: var(--hx-color-neutral-800);
}

.hx\:dark\:text-amber-200:where(.dark, .dark *) {
    color: var(--hx-color-orange-300);
}

.content :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    text-decoration-line: unset;
}

.content :where(a):not(:where([class~=not-prose],[class~=not-prose] *)):hover {
    color: var(--hx-color-primary-300);
}